---
http_interactions:
- request:
    method: post
    uri: https://demo.firstach.com/API/processAPIRequest.aspx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <getReturns xmlns="https://www.firstach.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://demo.firstach.com ../XSD/API_GetReturns.xsd"><requestorAuthentication><loginID>FIRST_ACH_LOGIN_ID</loginID><transactionKey>FIRST_ACH_TRANSACTION_KEY</transactionKey></requestorAuthentication><paymentDetail><returnDate>03/05/2011</returnDate></paymentDetail></getReturns>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><getReturnsResponse xmlns="https://FIRST_ACH_ENVIRONMENT.firstach.com/API/XSD/API_GetReturnsResponse.xsd"><responseMessages
                       xmlns=""><responseCode>0000</responseCode><responseText>SUCCESS. </responseText></responseMessages><payment
                       xmlns=""><paymentID>6394262</paymentID><returnReasonCode>R01</returnReasonCode><returnReasonTitle>Insufficient
                       Funds</returnReasonTitle><status>Uncollected</status></payment><payment xmlns=""><paymentID>6394256</paymentID><returnReasonCode>R01</returnReasonCode><returnReasonTitle>Insufficient
                       Funds</returnReasonTitle><status>Uncollected</status></payment><payment xmlns=""><paymentID>6394238</paymentID><returnReasonCode>R01</returnReasonCode><returnReasonTitle>Insufficient
                       Funds</returnReasonTitle><status>Uncollected</status></payment><payment xmlns=""><paymentID>6394203</paymentID><returnReasonCode>R01</returnReasonCode><returnReasonTitle>Insufficient
                       Funds</returnReasonTitle><status>Uncollected</status></payment><payment xmlns=""><paymentID>6394188</paymentID><returnReasonCode>R16</returnReasonCode><returnReasonTitle>Account
                       Frozen</returnReasonTitle><status>Uncollected</status></payment></getReturnsResponse><?xml
                       version="1.0" encoding="utf-8"?><getReturnsResponseFailure xmlns="https://FIRST_ACH_ENVIRONMENT.firstach.com"><responseMessages
                       xmlns=""><responseCode>9900</responseCode><responseText>Fail</responseText><message>The
                       file content type is incorrect. Please make sure the file submitted is of
                       the type "text/xml." The file could not be processed.</message></responseMessages></getReturnsResponseFailure>'
  recorded_at: Mon, 11 Dec 2017 20:24:25 GMT
recorded_with: VCR 3.0.3
