---
http_interactions:
- request:
    method: post
    uri: https://demo.firstach.com/API/processAPIRequest.aspx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <createCustomerAccount xmlns="https://www.firstach.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://demo.firstach.com ../XSD/API_CreateCustomerAccount.xsd"><requestorAuthentication><loginID>FIRST_ACH_LOGIN_ID</loginID><transactionKey>FIRST_ACH_TRANSACTION_KEY</transactionKey></requestorAuthentication><account><customerToken>vsVKWkEMolinPO0/YVGPLg==</customerToken><accountName>New Account</accountName><accountType>Personal Checking</accountType><routingNumber>111111118</routingNumber><accountNumber>9876543210</accountNumber><isDefault>1</isDefault><bankName>Capital One</bankName><bankCity>Mitchellville</bankCity><bankState>MD</bankState><authOptionForm>Until Revoked</authOptionForm><authOptionVoice>Existing Relationship</authOptionVoice><authDate>2011-03-05</authDate></account></createCustomerAccount>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><createCustomerAccountResponse
        xmlns="https://www.firstach.com"><responseMessages xmlns=""><responseCode>0000</responseCode><responseText>SUCCESS.
        The Account was created successfully</responseText></responseMessages><account
        xmlns=""><customerToken>vsVKWkEMolinPO0/YVGPLg==</customerToken><accountToken>zUwNopEL+mng0pf8vBatWw==</accountToken></account></createCustomerAccountResponse>
  recorded_at: Sat, 12 Aug 2017 06:21:00 GMT
recorded_with: VCR 3.0.3
