---
http_interactions:
- request:
    method: post
    uri: https://demo.firstach.com/API/processAPIRequest.aspx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <createCustomerProfile xmlns="https://www.firstach.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://demo.firstach.com ../XSD/API_CreateCustomerProfile.xsd"><requestorAuthentication><loginID>FIRST_ACH_LOGIN_ID</loginID><transactionKey>FIRST_ACH_TRANSACTION_KEY</transactionKey></requestorAuthentication><customerProfile><customerName>Joe Customer</customerName><customerID>UG10910</customerID><address1>1600 Pennsylvania Ave</address1><city>Washington</city><state>DC</state><zip>20036</zip><phone>202-555-1212</phone><email>anycustomer@nextdayfunding.com</email><fax>202-555-0000</fax><drvLic>UG1-H2-H3-009L-91</drvLic><drvState>DC</drvState><custom1></custom1><custom2></custom2></customerProfile></createCustomerProfile>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><createCustomerResponse xmlns="https://www.firstach.com"><responseMessages
        xmlns=""><responseCode>0000</responseCode><responseText>SUCCESS. The Customer
        was created successfully</responseText></responseMessages><customer xmlns=""><customerToken>oS7xUnWX6rZJUy+Coj/Hwg==</customerToken></customer></createCustomerResponse>
  recorded_at: Fri, 11 Aug 2017 23:31:06 GMT
recorded_with: VCR 3.0.3
