---
http_interactions:
- request:
    method: post
    uri: https://demo.firstach.com/API/processAPIRequest.aspx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <createCustomerPayment xmlns="https://www.firstach.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://demo.firstach.com ../XSD/API_CreateCustomerPayment.xsd"><requestorAuthentication><loginID>FIRST_ACH_LOGIN_ID</loginID><transactionKey>FIRST_ACH_TRANSACTION_KEY</transactionKey></requestorAuthentication><paymentDetail><SECCType>PPD</SECCType><checkNo></checkNo><paymentType>Debit</paymentType><amountPerPayment>450.99</amountPerPayment><effecDate></effecDate><frequency>Monthly</frequency><recurringDate></recurringDate><numberOfPayments>2</numberOfPayments><memo>Loan repayment</memo><isPrivate>1</isPrivate><custom1></custom1></paymentDetail><account><accountToken>nLx8MUtHO711LFJFKeoLSw==</accountToken></account><customer><customerToken>vsVKWkEMolinPO0/YVGPLg==</customerToken></customer></createCustomerPayment>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><createCustomerPaymentResponse
        xmlns="https://www.firstach.com"><responseMessages xmlns=""><responseCode>0000</responseCode><responseText>SUCCESS.
        The Payment was created successfully. This payment is an AP DUP</responseText></responseMessages><payment
        xmlns=""><customerToken>vsVKWkEMolinPO0/YVGPLg==</customerToken><accountToken>nLx8MUtHO711LFJFKeoLSw==</accountToken><paymentID>1846974</paymentID><recurringID>48603</recurringID></payment></createCustomerPaymentResponse>
  recorded_at: Fri, 11 Aug 2017 23:32:32 GMT
recorded_with: VCR 3.0.3
